/*Home*/
#home{
    background: rgb(0,101,219);
    background: linear-gradient(90deg, rgb(0,101,219) 45%, rgb(0, 212, 255,1) 100%);
    min-height: 585px;
    padding-top: 100px;
}
/*Footer*/
.footer{
    background: rgb(0,101,219);
    background: linear-gradient(90deg, rgb(0,101,219) 35%, rgb(0, 212, 255,1) 100%);
}